<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img class="img-responsive" src="https://images.g2a.com/newlayout/323x433/1x1x0/0017f67ada95/59e60aeaae653a34fe0e9633" alt="...">
            <div class="caption">
                <h3>PUBG PC Blue-Ray</h3>
                <p>...</p>
                <p><a href="#" class="btn btn-primary" role="button">Buy Now</a> <a href="#" class="btn btn-default" role="button">Add to Cart</a></p>
            </div>
        </div>
    </div>
</div>